*{
	margin: 0;
	padding: 0;
}
.contenedor {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.card {
	width: 300px;
	margin: 20px;
	padding: 20px;
	background-color: #F0E2CC;
	border: 1px solid #E2E8F0;
	border-radius: 5px;
}
.card h2 {
	color: #2563EB;
}
.card p {
	color: #555;
}
.btn {
	background-color: #2563EB;
	border: none;
	margin-top: 30px;
	padding: 15px 25px;
	border-radius: 5px;
	font-weight: bold;
	color: whitesmoke;
	float: right;
	transition: 1s ease all;
}
.btn:hover {
	background-color: #eb2525;
	transition: 1s ease all;
	cursor: pointer;
}